@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap");

:root {
  --primary-color: #5c946e;
  --accent-color: #4f7d5d;
  --accent-easy-color: #3dd86b;
  --accent-medium-color: #b0b464;
  --accent-hard-color: #9d4f4f;
  --off-white: #fbf5f3;
}

html,
body {
  color: #0f0e0e;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  margin: 0;
}

header {
  background: var(--primary-color);
  border-bottom: 3px solid var(--accent-color);
  color: #fbf5f3;
}

header h1 {
  padding: 25px;
}

header h1 span {
  font-family: "EB Garamond", serif;
  font-size: 18px;
  margin-left: 10px;
}

.centered {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  margin: 25px auto;
  width: 75%;
}

button {
  min-width: 160px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background: var(--accent-color);
  color: #fbf5f3;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
}

button:hover {
  border: 2px solid var(--accent-color);
  background: var(--primary-color);
}

.card {
  border: 5px solid var(--accent-color);
  border-radius: 10px;
  padding: 25px;
}

.easy {
  border-color: var(--accent-easy-color);
}

.medium {
  border-color: var(--accent-medium-color);
}

.hard {
  border-color: var(--accent-hard-color);
}

.hidden {
  display: none;
}

form {
  display: grid;
  place-items: center;
  justify-content: center;
  gap: 5%;
  grid-template-columns: auto auto auto;
  padding-top: 40px;
}

.form-item {
  display: grid;
  place-items: center;
  place-content: center;
  gap: 10px;
  grid-template-columns: auto auto;
  background-color: var(--primary-color);
  padding-left: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: var(--off-white);
}

.form-item select {
  padding: 12px;
  font-weight: bold;
  color: var(--off-white);
  background-color: var(--accent-color);
  border: none;
  /* border: 2px solid var(--primary-color); */
  border-radius: 5px;
  cursor: pointer;
}

.form-item select:hover {
  background-color: var(--primary-color);
  border-color: var(--accent-color);
}
